/* Seletores
   Tag html
   * - universal
   #id - indica que vamos trabalhar com uma única tag(ID)
   .class - 
*/
*{
    margin: 1px;/**/
    padding: 0%;
}

li {
    display: inline;
}

a {
    text-decoration: none;
}

#titulo{
    background-color: rgb(118, 0, 116);
    color: rgb(240, 248, 255);
    border: 2px solid black;
    border-radius: 100px;
    padding: 2px;
    margin: 0px;

}

.texto{
    font-size: medium;
}

.texto:hover{
    background-color: rgb(224, 255, 121);
}

.social{
    width: 25px;
}

.foto{
    width: 100%;
}

.mb-5{
    margin-bottom: 20px;
}

.container{
    display: flex;

}
@media(max-width: 500px){
    .container{
        flex-direction: column;
    }
}

.container > div{
    width: 400px;
}


.nav-button{
    background-color: rgb(141, 255, 255);
    margin: 25px;
    padding: -1px;
    border: 2px solid rgb(141, 255, 255);
    border-radius: 50px;
}

.nav-button:hover{
    background-color: rgb(255, 255, 255);
    color: white;
}

.nav-texto{
    font-weight: bold;
    font-size: large;
}

hr{
    display: none   ;
}